.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.prettierrc
.prettierignore
.commitlintrc.json
eslint.config.mjs
tsconfig.json
webpack.config.js
vsc-extension-quickstart.md
resources/screenshots/**
**/*.map
**/*.ts
**/.vscode-test.*
!src/infra/view/**/*.html
!src/infra/view/**/*.css
!src/infra/view/**/*.js

